<?xml version="1.0" encoding="utf-8"?>
<Elements Id="425f4671-0819-4ae9-b67a-34cc7f199f0b" xmlns="http://schemas.microsoft.com/sharepoint/">
  <Module Name="Images">
    <File Path="lightboxblank.gif" Url="lightboxblank.gif"/>
    <File Path="lightboxbtnclose.gif" Url="lightboxbtnclose.gif"/>
    <File Path="lightboxicoloading.gif" Url="lightboxicoloading.gif"/>
    <File Path="lightboxbtnnext.gif" Url="lightboxbtnnext.gif"/>
    <File Path="lightboxbtnprev.gif" Url="lightboxbtnprev.gif"/>
  </Module>
</Elements>
