div.even_color 
{
}
div.odd_color 
{
    background: #EAF3F5;
}

#big_box_update.with_sidebar .presently_update_box {
width:70%;
}
#big_box_update .presently_update_box {
float:left;
font-size:16px;
height:42px;
width:70%;
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
border:2px solid #CCCCCC;
font-size:12px;
padding:3px 5px;
}
#big_box_update .presently_update_submit {
color:#FFFFFF;
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-moz-border-radius-bottomleft:7px;
-moz-border-radius-bottomright:7px;
-moz-border-radius-topleft:7px;
-moz-border-radius-topright:7px;
background:#4a799d none repeat scroll 0 0;
border:0 none;
color:white;
cursor:pointer;
font-size:18px;
font-weight:bold;
margin-left:5px;
margin-top:0;
padding-top:5px;
padding-bottom:5px;
}

#big_box_update {
    margin: 12px 0;
    overflow: hidden;
    width: auto;
}

#big_box_update textarea {
    width: 300px;
    height: 45px;
    font-size: 11px;
    font-family: Tahoma, Arial;
    padding: 2px;
    float: left;
}

#big_box_update input.submit_update {
    width: 90px;
    font-size: 11px;
    float: right;
}

.loading_div {
    background: #fcfcfc;
    border: 1px solid #ddd;
    font-size: 11px;
    color: #666;
    text-align: center;
    padding: 4px;
    margin-bottom: 12px;
    display: none;
}

.twitterTimeline {
    border: 1px solid #d2e1ed;
    border-bottom: none;
    background: #f5faff;
}

.tweet {
    clear: both;
    border-bottom: 1px solid #d2e1ed;
}

.tweetNote {
    font-size: 10px;
    color: #4a799d;
    background: #e7f1ff;
    padding: 4px 7px 4px 7px;
    margin-bottom: 7px;
}

.tweetUserName img {
    width: 45px;
    height: 45px;
    margin-right: 8px;
    margin-left: 7px;
    margin-bottom: 3px;
    float: left;
}

.tweetText, .tweetRelativeTime {
    float: right;
    width: 78%;
    margin-right: 10px;
}

.tweetText {
    font-size: 11px;
    line-height: 14px;
    color: #222;
}

    .more_text_link {
        font-size: 9px;
        text-transform: uppercase;
    }
    
    .more_text {
        background: #fff;
        padding: 7px 10px;
        border: 1px solid #ddebf6;
        margin-top: 4px;
        font-size: 10px;
        color: #444;
        display: none;
    }
    
    .tweetAttachment {
        background: #fff;
        padding: 5px 10px 9px 10px;
        border: 1px solid #ddebf6;
        margin-top: 6px;
        font-size: 10px;
        color: #444;
    }
    
    .tweetAttachment span {
        display: block;
        font-size: 10px;
        margin-bottom: 4px;
    }
    
    .tweetAttachment img {
        border: 1px solid #ddd;
        padding: 1px;
        background: #fff;
    }

.tweetRelativeTime {
    padding-top: 4px;
    font-size: 10px;
    color: #898989;
    margin-bottom: 10px;
}